footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 0;
    background-color: $base-color;
    color: $text-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    letter-spacing: 0.06rem;
    font-weight: 300;
    font-size: 1rem;
}
.footer{
    text-align: right;
}
.footer-items{
    color: $text-color;
    padding-left: 1.5rem;
    letter-spacing: 0.08rem;
    font-weight: 300;
    font-size: 1rem;
}